body.lang .lang{display:none;}
body.lang.en .lang.en,
body.lang.fr .lang.fr,
body.lang.es .lang.es,
body.lang.de .lang.de{display:initial;}
body .hide-if-logged-in{display:initial!important;}
body.logged-in .hide-if-logged-in{display:none!important;}
body .hide-if-logged-out{display:none!important;}
body.logged-in .hide-if-logged-out{display:initial!important;}
.wishlist_products_counter.wishlist-counter-with-products .fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
}
.wishlist_products_counter.wishlist-counter-with-products .fa-heart-o:before {
content: "\f004";
}
