body.lang .lang{display:none;}
body.lang.en .lang.en,
body.lang.fr .lang.fr,
body.lang.es .lang.es,
body.lang.de .lang.de{display:initial;}
body .hide-if-logged-in{display:initial!important;}
body.logged-in .hide-if-logged-in{display:none!important;}
body .hide-if-logged-out{display:none!important;}
body.logged-in .hide-if-logged-out{display:initial!important;}
.wishlist_products_counter .fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
}
.wishlist_products_counter.wishlist-counter-with-products .fa-heart-o:before {
content: "\f004";
}
#payment .payment_methods>.woocommerce-PaymentMethod>label::before, #payment .payment_methods>.wc_payment_method>label::before {
    font-family: 'FontAwesome'!important;
    content: "\F10C"!important;
}
#payment .payment_methods li.woocommerce-PaymentMethod>input[type="radio"]:first-child:checked+label::before, #payment .payment_methods li.wc_payment_method>input[type="radio"]:first-child:checked+label::before {
    font-family: 'Font Awesome 5 Free'!important;
    content: "\f192"!important;
}
.user-has-earned .won{display:initial;}
.user-has-not-earned .won{display:none;}
.user-has-earned .win{display:none;}
.user-has-not-earned .win{display:initial;}