/* 
    Created on : 28-May-2018, 22:10:01
    Author     : jon
*/


/*allow language specific content by adding lang and code to the class of any element */
body.lang .lang{display:none;}
body.lang.en .lang.en,
body.lang.fr .lang.fr,
body.lang.es .lang.es,
body.lang.de .lang.de{display:initial;}

/* hide/show sections based on login status: default version for caches should be logged out */
/* photoline-inkston version: */
body .hide-if-logged-in{display:initial!important;}
body.logged-in .hide-if-logged-in{display:none!important;}
body .hide-if-logged-out{display:none!important;}
body.logged-in .hide-if-logged-out{display:initial!important;}

/* moved wishlist here as css needed when wishlist plugin is not active
   in order to show icon, and stop it being broked by fontawesome 5 */
.wishlist_products_counter .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.wishlist_products_counter.wishlist-counter-with-products .fa-heart-o:before {
  content: "\f004";
}

/* toggle won text within badge depending on earned status*/
.user-has-earned .won{display:initial;}
.user-has-not-earned .won{display:none;}
.user-has-earned .win{display:none;}
.user-has-not-earned .win{display:initial;}
