/* 
    Created on : 28-May-2018, 22:29:45
    Author     : jon
*/
/* mailpoet forms and other mysteriously grey areas */
.site-content label strong, .site-content .mailpoet_checkbox_label{
    color:#1a1919;
}
.mailpoet_paragraph{margin-bottom:1em;}
.mailpoet_paragraph label{min-width:150px;}
.mailpoet_paragraph label, 
.mailpoet_paragraph input{
    display:inline-block;
} 
.mailpoet_form_widget .mailpoet_paragraph{display:inline-block;}
.mailpoet_form_widget .mailpoet_paragraph input[type="submit"]{text-transform:none;}
/* hide subscribe checkboxes if user is already logged in 
  (they don't show the subscription status and the user must have been asked already) */
body.logged-in .mailpoet-subscription-section,
body.logged-in .wpcf7-mailpoetsignup {display:none;}
/* allow checkbox options to show as a vertical list */
.mailpoet_segment_label{float:left;}
.mailpoet_paragraph .mailpoet_checkbox_label{display:block;margin-left:150px;}
.mailpoet_submit{margin-left:150px;}
/*if it's a pseudo login from mailpoet, also hide text for anonymous users'*/
body.mailpoet_router .hide-if-logged-in{display:none!important;}